<body>
  <%- include('partials/navbar') %>
  <div class="rentals-container">
      <% allRentals.forEach((group)=>{ %>
      <div class="city-province">
        <h2><%= group.cityProvince %></h2>
      </div>
      <% group.rentals.forEach((rental)=>{ %>
      <div class="rentals-result">
          <img src="<%- rental.imageUrl %>" alt="<%= rental.headline %>">
          <h4> <%= rental.headline %></h4>
          <ul>
            <li>
              <p>Sleeps <%= rental.numSleeps %> · <%= rental.numBedrooms %>BR · <%= rental.numBathrooms %> BA </p>
            </li>
            <li>
              <span>$<%= rental.pricePerNight %></span> <p class="small-text">avg/night</p>
            </li>
          </ul>
      </div>
      <% }) %>
      <% }) %>
  </div>
  <%- include ('partials/footer') %>
</body>
<script src="/js/dropdownMenu.js"></script>
</html>
